.env
.__pycache__
graph.png
# data-stripper
flaskserver/data/*
flaskserver/data-stripper/__pycache__
flaskserver/data-stripper/.pytest_cache
#flask-server
flaskserver
#react-app
react-app/node_modules/*
react-app/yarn.lock