<!--templates/app.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <!--Thirdparty Dependencies-->
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js" crossorigin></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300&display=swap" rel="stylesheet">
    <title>Twist</title>
</head>
    <body>
    </body>
</html>